{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 mycontent-left mb-sm-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm">
                        <h1><span class="fa fa-list-alt"></span> Categories</h1>
                    </div>
                </div>
                {% for category in categories %}
                <div class="row">
                    <div class="col-md ml-4">
                        <p>{{ category['name'] }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-8 col-md-6">
            <div class="container-fluid">
                <div class="row my-2 my-md-0">
                    <div class="col-lg-8">
                        <h1><span class="fa fa-soccer-ball-o"></span> Latest Items</h1>
                    </div>
                    <div class="col-lg-4 align-self-center">
                        <a role="button" class="btn btn-success pull-right" href="{{ url_for('show_catalog') }}">Add New Menu Item</a>
                    </div>
                </div>
                {% for item in items %}
                    <div class="row">
                        <div class="col-md ml-4">
                            <p>{{ item['name'] }} <i>(Category: {{ item['category'] }})</i></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}